<h1>Shouter</h1>

<div>
<%= form_with(method: "post", html: {multipart: true}, local: false) do %>
	<p>
	<%= label_tag(:message, "Message:") %>
	<%= text_field_tag(:message) %>
	</p>
	<p>
	<%= label_tag(:image, "Picture:") %>
	<%= file_field_tag(:image) %>
	</p>

	<%= submit_tag("Shout!") %>
<% end %>
</div>

<h2>Others are shouting...</h2>
<%= @latest_shout_id %>

<% @latest_shouts.each do |shout| %>
	<div>
		<h4>obj</h4>
		<p><%= shout %></p>
	</div>
<% end %>
